@charset 'utf-8';

@use './variables' as *;

// リセットCSS
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 共通設定
body {
    background-color: $body-clr;
    font-family: 'Noto Sans JP', sans-serif;
    color: $font-clr-bk;

    h1 {
        color: $font-clr-wt;
    }

    h2 {
        color: $font-clr-bl;
        font-size: clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
    }

    P {
        padding: 0.5%;
        // font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    }

    a {
        text-decoration: none;
        color: $font-clr-bk;
    }

    img {
        display: block;
        max-width: 100%;
    }

    ul {
        list-style: none;
    }
}