$body-clr: #fff;
$bodysub-clr: #d2def3;
$logo-clr: #293499;
$btn-clr: #e69332;
$font-clr-bk: #000;
$font-clr-wt: #fff;
$font-clr-bl: #293499;
$btn-clr-or: #e69332;
$btn-clr-bl: #293499;
$btn-clr-wt: #fff;
$info-clr-or: #f4ba4d;
$info-clr-gn: #67d1b9;
$info-clr-bl: #6c94de;
$info-clr-bn: #b26a3d;
$info-clr-wt: #FDFCF4;